<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Interface</title>

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{{ url_for('static', filename='assets/css/colors.css') }}" rel="stylesheet">

    </head>

    <body class="yellow-skin">

		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light dark-text">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="static/assets/img/logo.png" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">

{#								<li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li><a href="index.html">Home 1</a></li>#}
{#										<li><a href="home-2.html">Home 2</a></li>#}
{#										<li><a href="home-3.html">Home 3</a></li>#}
{#										<li><a href="home-4.html">Home 4</a></li>#}
{#										<li><a href="home-5.html">Home 5</a></li>#}
{#										<li><a href="home-6.html">Home 6</a></li>#}
{#										<li><a href="home-7.html">Home 7</a></li>#}
{#										<li><a href="home-8.html">Home 8</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li><a href="#">Listings<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li><a href="#">Listing Grid<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="grid-layout-with-sidebar.html">Grid Style 1</a></li>#}
{#												<li><a href="grid-layout-2.html">Grid Style 2</a></li>#}
{#												<li><a href="grid-layout-3.html">Grid Style 3</a></li>#}
{#												<li><a href="grid-layout-4.html">Grid Style 4</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Listing List<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="list-layout-with-sidebar.html">List Style 1</a></li>#}
{#												<li><a href="list-layout-with-map-2.html">List Style 2</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Listing Map<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="half-map.html">Half Map</a></li>#}
{#												<li><a href="list-layout-with-map.html">List Sidebar Map</a></li>#}
{#												<li><a href="grid-layout-with-map.html">Grid Sidebar Map</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="agents.html">Find Agents</a></li>#}
{#										<li><a href="agencies.html">Find Agencies</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								#}
{#								<li><a href="#">Property<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li class=""><a href="#">User Admin<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="dashboard.html">User Dashboard</a></li>#}
{#												<li><a href="my_profile.html">My Profile</a></li>#}
{#												<li><a href="my-property.html">My Property</a></li>#}
{#												<li><a href="bookmark-list.html">Bookmark Property</a></li>#}
{#												<li><a href="submit-property.html">Submit Property</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Single Property<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu" style="display: none;">#}
{#												<li><a href="single-property-1.html">Single Property 1</a></li>#}
{#												<li><a href="single-property-2.html">Single Property 2</a></li>#}
{#												<li><a href="single-property-3.html">Single Property 3</a></li>#}
{#												<li><a href="single-property-4.html">Single Property 4</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="compare-property.html">Compare Property</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								#}
{#								<li><a href="#">Pages<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">#}
{#										<li><a href="blog.html">Blog Style</a></li>#}
{#										<li><a href="blog-detail.html">Blog Detail</a></li>#}
{#										<li><a href="pricing.html">Pricing</a></li>#}
{#										<li><a href="404.html">404 Page</a></li>#}
{#										<li><a href="checkout.html">Checkout</a></li>#}
{#										<li><a href="register.html">Register</a></li>#}
{#										<li><a href="login.html">Log In</a></li>#}
{#										<li><a href="component.html">Elements</a></li>#}
{#										<li><a href="privacy.html">Privacy Policy</a></li>#}
{#										<li><a href="faq.html">FAQs</a></li>#}
{#									</ul>#}
{#								</li>#}
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Chose House</a></li>
                                <li><a href="#">Appraise Value</a></li>
                                <li><a href="#">Manage Information</a></li>
                                <li><a href="my-profile">Personal Information</a></li>
								<li><a href="#">Contacts</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right dhsbrd">

								<li>
									<div class="btn-group account-drop">
										<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="{{ avatars.default() }}" height="50" width="50">&nbsp; Hi, Please login First
										</button>
										<div class="dropdown-menu pull-right animated flipInX">
											<a href="my-profile"><i class="ti-user"></i>My Profile</a>
											<a href="my_houselist"><i class="ti-layers"></i>My Houses</a>
											<a href="change-password"><i class="ti-unlock"></i>Change Password</a>
                                            <a href="logout"><i class="ti-bookmark"></i>Logout</a>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
            {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}
            {% block content %}
            {% endblock %}



			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">

				<div class="footer-middle">
					<div class="container">
						<div class="row">

							<div class="col-lg-4 col-md-4">
								<div class="footer_widget">
									<div class="footlogo"><img src="static/assets/img/logo-light.png" class="img-fluid mb-3" alt="" /></div>
									<p>2512, New Market Eliza Road, Sincher 80<br>Montreal Central Canada,<br>USA QHVK1254</p>
									<ul class="footer-bottom-social">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">My Homes</h4>
									<ul class="footer-menu">
										<li><a href="#">New York</a></li>
										<li><a href="#">California</a></li>
										<li><a href="#">Louisiana</a></li>
										<li><a href="#">Las Vegas</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">About Us</h4>
									<ul class="footer-menu">
										<li><a href="#">Apartment</a></li>
										<li><a href="#">My Houses</a></li>
										<li><a href="#">Restaurant</a></li>
										<li><a href="#">Nightlife</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">News</h4>
									<ul class="footer-menu">
										<li><a href="#">My Profile</a></li>
										<li><a href="#">My account</a></li>
										<li><a href="#">My Property</a></li>
										<li><a href="#">Favorites</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">Help</h4>
									<ul class="footer-menu">
										<li><a href="#">Conditions</a></li>
										<li><a href="#">Privacy</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">FAQs</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">

							<div class="col-lg-12 col-md-12">
								<p class="mb-0">© 2020 Verio. Designd By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
							</div>

						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->


			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<iframe class="embed-responsive-item" width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<!-- End Video Modal -->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/ion.rangeSlider.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slick.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slider-bg.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/lightbox.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/daterangepicker.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>