{% extends "base_After.html" %}

{% block content %}

			<!-- ============================ User Dashboard ================================== -->
			<section class="gray p-0">
				<div class="container-fluid p-0">
								
					<div class="row">
						
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="property_dashboard_navbar">
								
								<div class="dash_user_menues">
									<ul>
										<li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
										<li><a href="my-profile"><i class="ti-user"></i>My Profile</a></li>
										<li><a href="my_houselist"><i class="ti-bookmark"></i>House Renting</a></li>
                                        <li class="active"><a href="calculator}"><i class="ti-bookmark"></i>House Calculator</a></li>
										<li><a href="my-property.html"><i class="ti-layers"></i>My Properties</a></li>
										<li><a href="choose-package.html"><i class="ti-gift"></i>Choose Package</a></li>
										<li><a href="upload_house"><i class="ti-pencil-alt"></i>Upload New House</a></li>
										<li><a href="change-password"><i class="ti-unlock"></i>Change Password</a></li>
										<li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="dashboard-body">
							
								<div class="dashboard-wraper">

                                    <form action="" method="post" novalidate>
                                        {{ form.hidden_tag() }}
									    <!-- Basic Information -->
									    <div class="frm_submit_block">
										    <h4>House Calculator</h4>
										    <div class="frm_submit_wrap">
											    <div class="form-row">
											
												    <div class="form-group col-md-12">
                                                        {{ form.total_loans.label }}<br>
                                                        {{ form.total_loans (class="form-control" ,placeholder="Enter your total loans") }}
												    </div>

												    <div class="form-group col-md-12">
                                                        {{ form.annualized_rate.label }}<br>
                                                        {{ form.annualized_rate (class="form-control" ,placeholder="Enter your annualized rate") }}
												    </div>
												
												    <div class="form-group col-md-12">
                                                        {{ form.repayment_years.label }}<br>
                                                        {{ form.repayment_years (class="form-control" ,placeholder="Enter your repayment years") }}
												    </div>

                                                    <div class="form-group col-md-12">
                                                        {{ form.types.label }}<br>
                                                        {{ form.types (class="form-control",placeholder="Enter your types") }}
												    </div>

                                                    <div class="form-group col-lg-12 col-md-12">
													    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
												    </div>
                                                </div>
                                                <div class="form-row">
                                                    <h4>Equal Principal and Interest</h4>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>Total Repayment:</label>
                                                        <i>{{ total_repayment }}</i>
												    </div>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>Total Interest:</label>
                                                        <i>{{ total_interest }}</i>
												    </div>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>Monthly Repayment:</label>
                                                        <i>{{ monthly_repayment }}</i>
												    </div>
                                                </div>
                                                <div class="form-row">
                                                    <h4>Equal Principal</h4>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>Total Repayment:</label>
                                                        <i>{{ Total_repayment }}</i>
												    </div>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>Total Interest:</label>
                                                        <i>{{ Total_interest }}</i>
												    </div>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>First Month Repayment:</label>
                                                        <i>{{ First_month_repayment }}</i>
												    </div>
                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <label>Monthly Decrease:</label>
                                                        <i>{{ Monthly_decrease }}</i>
												    </div>
												
											    </div>
										    </div>
									    </div>
                                    </form>
									
								</div>
								
								<div class="row">
									<div class="col-md-12 col-lg-12 mt-4">
										<footer class="text-center">
											<p class="mb-0">© 2020 Verio. Designd By <a href="#">Pexel Experts</a> All Rights Reserved</p>
										</footer>
									</div>
								</div>
								<!-- row -->
							
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->

{% endblock %}