{% if usertype == "1" %}
    {% extends "base_AfterO.html" %}
{% else %}
    {% extends "base_After.html" %}
{% endif %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <!-- Basic Information -->
    <div class="frm_submit_block">
        <h4>House Calculator</h4>
        <div class="frm_submit_wrap">
            <div class="form-row">

                <div class="form-group col-md-12">
                    {{ form.total_loans.label }}<br>
                    {{ form.total_loans (class="form-control" ,placeholder="Enter your total loans") }}
                </div>

                <div class="form-group col-md-12">
                    {{ form.annualized_rate.label }}<br>
                    {{ form.annualized_rate (class="form-control" ,placeholder="Enter your annualized rate") }}
                </div>

                <div class="form-group col-md-12">
                    {{ form.repayment_years.label }}<br>
                    {{ form.repayment_years (class="form-control" ,placeholder="Enter your repayment years") }}
                </div>

                <div class="form-group col-md-12">
                    {{ form.types.label }}<br>
                    {{ form.types (class="form-control",placeholder="Enter your types") }}
                </div>

                <div class="form-group col-lg-12 col-md-12">
                    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
                </div>
            </div>
            <div class="form-row">
                <h4>Equal Principal and Interest</h4>
                <div class="form-group col-lg-12 col-md-12">
                    <label>Total Repayment:</label>
                    <i>{{ total_repayment }}</i>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <label>Total Interest:</label>
                    <i>{{ total_interest }}</i>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <label>Monthly Repayment:</label>
                    <i>{{ monthly_repayment }}</i>
                </div>
            </div>
            <div class="form-row">
                <h4>Equal Principal</h4>
                <div class="form-group col-lg-12 col-md-12">
                    <label>Total Repayment:</label>
                    <i>{{ Total_repayment }}</i>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <label>Total Interest:</label>
                    <i>{{ Total_interest }}</i>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <label>First Month Repayment:</label>
                    <i>{{ First_month_repayment }}</i>
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <label>Monthly Decrease:</label>
                    <i>{{ Monthly_decrease }}</i>
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock %}