<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Verio - Residence & Real Estate Template</title>

        <!-- Custom CSS -->
        <link href="static/assets/css/styles.css" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="static/assets/css/styles.css" rel="stylesheet">

    </head>

    <body class="yellow-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

			<!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light head-border">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="static/assets/img/logo.png" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">

								<li><a href="#">Home<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="index.html">Home 1</a></li>
										<li><a href="home-2.html">Home 2</a></li>
										<li><a href="home-3.html">Home 3</a></li>
										<li><a href="home-4.html">Home 4</a></li>
										<li><a href="home-5.html">Home 5</a></li>
										<li><a href="home-6.html">Home 6</a></li>
										<li><a href="home-7.html">Home 7</a></li>
										<li><a href="home-8.html">Home 8</a></li>
									</ul>
								</li>

								<li><a href="#">Listings<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="#">Listing Grid<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-layout-with-sidebar.html">Grid Style 1</a></li>
												<li><a href="grid-layout-2.html">Grid Style 2</a></li>
												<li><a href="grid-layout-3.html">Grid Style 3</a></li>
												<li><a href="grid-layout-4.html">Grid Style 4</a></li>
											</ul>
										</li>
										<li><a href="#">Listing List<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="list-layout-with-sidebar.html">List Style 1</a></li>
												<li><a href="list-layout-with-map-2.html">List Style 2</a></li>
											</ul>
										</li>
										<li><a href="#">Listing Map<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="half-map.html">Half Map</a></li>
												<li><a href="list-layout-with-map.html">List Sidebar Map</a></li>
												<li><a href="grid-layout-with-map.html">Grid Sidebar Map</a></li>
											</ul>
										</li>
										<li><a href="agents.html">Find Agents</a></li>
										<li><a href="agencies.html">Find Agencies</a></li>
									</ul>
								</li>

								<li class="active"><a href="#">Property<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li class=""><a href="#">User Admin<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="dashboard.html">User Dashboard</a></li>
												<li><a href="my-profile.html">My Profile</a></li>
												<li><a href="my-property.html">My Property</a></li>
												<li><a href="bookmark-list.html">Bookmark Property</a></li>
												<li><a href="submit-property.html">Submit Property</a></li>
											</ul>
										</li>
										<li><a href="#">Single Property<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu" style="display: none;">
												<li><a href="single-property-1.html">Single Property 1</a></li>
												<li><a href="single-property-2.html">Single Property 2</a></li>
												<li><a href="single-property-3.html">Single Property 3</a></li>
												<li><a href="single-property-4.html">Single Property 4</a></li>
											</ul>
										</li>
										<li><a href="compare-property.html">Compare Property</a></li>
									</ul>
								</li>

								<li><a href="#">Pages<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
										<li><a href="blog.html">Blog Style</a></li>
										<li><a href="blog-detail.html">Blog Detail</a></li>
										<li><a href="pricing.html">Pricing</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="login.html">Log In</a></li>
										<li><a href="component.html">Elements</a></li>
										<li><a href="privacy.html">Privacy Policy</a></li>
										<li><a href="faq.html">FAQs</a></li>
									</ul>
								</li>

								<li><a href="contact.html">Contacts</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right dhsbrd">

								<li>
									<div class="btn-group account-drop">
										<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="static/assets/img/user-5.jpg" class="avater-img" alt="">Hi, Admin
										</button>
										<div class="dropdown-menu pull-right animated flipInX">
											<a href="my-profile.html"><i class="ti-user"></i>My Profile</a>
											<a href="my-property.html"><i class="ti-layers"></i>Property List</a>
											<a href="bookmark-list.html"><i class="ti-bookmark"></i>Bookmarked Listings</a>
											<a class="active" href="change-password.html"><i class="ti-unlock"></i>Change Password</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ User Dashboard ================================== -->
			<section class="gray p-0">
				<div class="container-fluid p-0">

					<div class="row">

						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="property_dashboard_navbar">

								<div class="dash_user_menues">
									<ul>
										<li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
                                        <li><a href="my-profile.html"><i class="ti-user"></i>My Profile</a></li>
										<li><a href="bookmark-list.html"><i class="ti-bookmark"></i>Saved Property</a></li>
										<li><a href="my-property.html"><i class="ti-layers"></i>My Properties</a></li>
										<li><a href="choose-package.html"><i class="ti-gift"></i>Choose Package</a></li>
										<li><a href="submit-property-dashboard.html"><i class="ti-pencil-alt"></i>Submit New Property</a></li>
										<li><a href="change-password.html"><i class="ti-unlock"></i>Change Password</a></li>
                                        <li class="active"><a href="change-password.html"><i class="ti-unlock"></i>My Profile</a></li>
										<li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
									</ul>
								</div>

							</div>
						</div>

						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="dashboard-body">

								<div class="dashboard-wraper">

									<!-- Basic Information -->
									<div class="frm_submit_block">
										<h4>My Account</h4>
										<div class="frm_submit_wrap">
{#											<div class="form-row">#}

												<div class="row">

													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
                                                            {{ form.hidden_tag() }}
{#																<input type="email" class="form-control" placeholder="Enter username or email">#}
                                                                {{ form.password.label }}<br>
                                                                {{ form.password (class="form-control" ,placeholder="Enter the original password") }}

                                                                {% for error in form.password.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}
                                                                <div class="ti-email" style="height: 20px;width: 50px;"></div>
															</div>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
{#																<input type="password" class="form-control" placeholder="Enter password">#}
                                                                {{ form.new_password1.label }}<br>
                                                                {{ form.new_password1(class="form-control", placeholder="Enter new password") }}

			                                                    {% for error in form.new_password1.errors %}
                                                                <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}
{#																<div class="ti-unlock"></div>#}
															</div>
														</div>
													</div>

                                                	<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
{#																<input type="email" class="form-control" placeholder="Enter username or email">#}
                                                                {{ form.new_password2.label }}<br>
                                                                {{ form.new_password2 (class="form-control" ,placeholder="Re-Enter new password") }}

                                                                {% for error in form.new_password2.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}
{#                                                                <div class="ti-email" style="height: 20px;width: 50px;"></div>#}
															</div>
														</div>
													</div>

												</div>

												<div class="form-group">
{#													<button type="submit" class="btn btn-md full-width pop-login bg-2">Sign In</button>#}
                                                    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
												</div>

{#											</div>#}
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-md-12 col-lg-12 mt-4">
										<footer class="text-center">
											<p class="mb-0">© 2020 Verio. Designd By <a href="#">Pexel Experts</a> All Rights Reserved</p>
										</footer>
									</div>
								</div>
								<!-- row -->

							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->

			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>

									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-icon">
											<input type="text" class="form-control" placeholder="Username">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>Password</label>
										<div class="input-with-icon">
											<input type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login bg-2">Login</button>
									</div>

								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-twitter"><i class="ti-twitter"></i>Twitter</a></li>
								</ul>
							</div>

							<div class="social-login mb-3">
								<ul>
									<li>
										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
										<label for="reg" class="checkbox-custom-label">Save Password</label>
									</li>
									<li><a href="#" class="theme-cl">Forget Password?</a></li>
								</ul>
							</div>

							<div class="text-center">
								<p class="mt-2">Haven't Any Account? <a href="register.html" class="link">Click here</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->

			<!-- Sign Up Modal -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>

									<div class="row">

										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Full Name">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="email" class="form-control" placeholder="Email">
													<i class="ti-email"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Username">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>

										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="*******">
													<i class="ti-unlock"></i>
												</div>
											</div>
										</div>

									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
									</div>

								</form>
							</div>
							<div class="modal-divider"><span>Or Signup via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-twitter"><i class="ti-twitter"></i>Twitter</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->

			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<iframe class="embed-responsive-item" width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<!-- End Video Modal -->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/popper.min.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
		<script src="static/assets/js/ion.rangeSlider.min.js"></script>
		<script src="static/assets/js/select2.min.js"></script>
		<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="static/assets/js/slick.js"></script>
		<script src="static/assets/js/slider-bg.js"></script>
		<script src="static/assets/js/lightbox.js"></script>
		<script src="static/assets/js/imagesloaded.js"></script>
		<script src="static/assets/js/daterangepicker.js"></script>
		<script src="static/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>
