{% if usertype == "1" %}
    {% extends "base_BeforeO.html" %}
{% else %}
    {% extends "base_Before.html" %}
{% endif %}

{% block content %}


    <!-- ============================ Hero Banner  Start================================== -->
    <div class="image-cover hero_banner half_banner" style="background:#3d85fd url(static/assets/img/landing-bg.png) no-repeat;" data-overlay="1">
        <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 text-center">
                        <h2 class="small-header-capt mb-1">Rent Homes Without Agency Fee!</h2>
                        <span class="sb_title">We help you find the most verified trusted homes </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->

    <!-- ============================ partner Start ================================== -->
    <section class="gray-simple pt-4 pb-4">
        <div class="container">

            <div class="row">

                <!-- Single Partner -->
                <div class="col-md-3 col-sm-4 col-lg">
                    <div class="partner-grid">
                        <img src="static/assets/img/brand-1.png" class="img-fluid" alt="" />
                    </div>
                </div>

                <!-- Single Partner -->
                <div class="col-md-3 col-sm-4 col-lg">
                    <div class="partner-grid">
                        <img src="static/assets/img/brand-2.png" class="img-fluid" alt="" />
                    </div>
                </div>

                <!-- Single Partner -->
                <div class="col-md-3 col-sm-4 col-lg">
                    <div class="partner-grid">
                        <img src="static/assets/img/brand-3.png" class="img-fluid" alt="" />
                    </div>
                </div>

                <!-- Single Partner -->
                <div class="col-md-3 col-sm-4 col-lg">
                    <div class="partner-grid">
                        <img src="static/assets/img/brand-4.png" class="img-fluid" alt="" />
                    </div>
                </div>

                <!-- Single Partner -->
                <div class="col-md-3 col-sm-4 col-lg">
                    <div class="partner-grid">
                        <img src="static/assets/img/brand-5.png" class="img-fluid" alt="" />
                    </div>
                </div>

                <!-- Single Partner -->
                <div class="col-md-3 col-sm-4 col-lg">
                    <div class="partner-grid">
                        <img src="static/assets/img/brand-6.png" class="img-fluid" alt="" />
                    </div>
                </div>

            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ partner End ================================== -->

    <!-- ============================ Featured Property Start ================================== -->
    <section>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="sec-heading center">
                        <h2>Recent Added Property</h2>
                        <p>There are up to six newly released partial listings, if you want to see more, please click the button below.</p>
                    </div>
                </div>
            </div>

            <div class="row">
            {% if prev_posts %}
            {% for post in prev_posts %}
                <!-- Single Property -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="list-slide-box">
                        <div class="modern-list">
                            <div class="grid-category-thumb">
                                <a href="{{ url_for('house_detail',house_id=post.id) }}" class="overlay-cate"><img src="{{ url_for('static',filename='Uploaded_PH/'+post.image_name) }}" class="img-responsive" alt=""></a>
                            </div>
                            <div class="modern-list-content">

                                <div class="listing-content-wrap smalls">
                                    <h4 class="lst-title"><a href="{{ url_for('house_detail',house_id=post.id) }}">{{ post.name }}</a></h4>
                                    <p>
                                    {% for communitys in com_posts %}
                                        {% if communitys.id == post.community_id %}

                                            {{communitys.community}},
                                        {% endif %}
                                    {% endfor %}

                                    {% for districts in dis_posts %}
                                        {% if districts.id == post.district_id %}

                                            {{districts.district}}
                                        {% endif %}
                                    {% endfor %}
                                    </p>
                                </div>
                                <div class="listing-footer-wrap property-lists mt-2">
                                    <div class="property-lists flex-1">
                                        <ul>
                                            <li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>{{ post.room_number }} Beds</li>
                                            <li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>{{ post.bath_number }} Baths</li>
                                        </ul>
                                    </div>
                                    <h4 class="mdr-price">￥ {{ post.price }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <h4>There is no home now, please wait someone submit houses.</h4>
            {% endif %}
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <a href="{{ url_for('search', page=1) }}" class="btn btn-theme arrow-btn bg-2">Browse All Property<span><i class="ti-arrow-right"></i></span></a>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Featured Property End ================================== -->


    <!-- ============================ Property Location Start ================================== -->
    <section  class="gray min">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="sec-heading center">
                        <h2>Agents in Your City</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Agent -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="grid_agents style-2">

                        <div class="grid_agents-wrap">

                            <div class="fr-grid-thumb">
{#                                <a href="agent-page.html">#}
                                <a>
                                    <img src="static/assets/img/team-1.jpg" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>

                            <div class="fr-grid-deatil">
                                <h5 class="fr-can-name">Jannat Apartment</h5>
                                <div class="mt-1">22 Properties</div>
                            </div>

                        </div>

                        <div class="grid_fr_info mb-5">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                        <div class="grid_agents_footer">
                            <div class="agent_grid_footer_first">
                                <i class="lni-phone-handset mr-1"></i>(+86) 131-5667-6990
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Single Agent -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="grid_agents style-2">

                        <div class="grid_agents-wrap">

                            <div class="fr-grid-thumb">
                                <a href="agent-page.html">
                                    <img src="static/assets/img/team-2.jpg" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>

                            <div class="fr-grid-deatil">
                                <h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
                                <div class="mt-1">22 properties</div>
                            </div>

                        </div>

                        <div class="grid_fr_info mb-5">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                        <div class="grid_agents_footer">
                            <div class="agent_grid_footer_first">
                                <i class="lni-phone-handset mr-1"></i>(123) 123-456
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Single Agent -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="grid_agents style-2">

                        <div class="grid_agents-wrap">

                            <div class="fr-grid-thumb">
                                <a href="agent-page.html">
                                    <img src="static/assets/img/team-2.jpg" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>

                            <div class="fr-grid-deatil">
                                <h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
                                <div class="mt-1">22 properties</div>
                            </div>

                        </div>

                        <div class="grid_fr_info mb-5">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                        <div class="grid_agents_footer">
                            <div class="agent_grid_footer_first">
                                <i class="lni-phone-handset mr-1"></i>(123) 123-456
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Single Agent -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="grid_agents style-2">

                        <div class="grid_agents-wrap">

                            <div class="fr-grid-thumb">
                                <a href="agent-page.html">
                                    <img src="static/assets/img/team-3.jpg" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>

                            <div class="fr-grid-deatil">
                                <h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
                                <div class="mt-1">102 Properties</div>
                            </div>

                        </div>

                        <div class="grid_fr_info mb-5">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
								<li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
								<li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
								<li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                        <div class="grid_agents_footer">
                            <div class="agent_grid_footer_first">
                                <i class="lni-phone-handset mr-1"></i>(123) 123-456
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- ============================ Property Location End ================================== -->

{% endblock %}