{% extends "base_After.html" %}

{% block content %}
<!-- ============================ User Dashboard ================================== -->
			<section class="gray p-0">
				<div class="container-fluid p-0">

					<div class="row">

						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="property_dashboard_navbar">

								<div class="dash_user_menues">
									<ul>
										<li class="active"><a href="house_change"><i class="ti-unlock"></i>Change Information</a></li>
                                        <li><a href="my_houselist"><i class="ti-power-off"></i>Back</a></li>
									</ul>
								</div>

							</div>
						</div>

						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="dashboard-body">

								<div class="dashboard-wraper">

                                    <form action="" method="post" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
									    <!-- Basic Information -->
									    <div class="frm_submit_block">
										    <h3>Change Information House: ID= {{ houseid }}</h3>
                                            <br>
                                            <h4>The Predict Price is {{ predrictprice }}</h4>
										    <div class="frm_submit_wrap">
											    <div class="form-row">

												    <div class="form-group col-md-6">
                                                        {{ form.housename.label }}<br>
                                                        {{ form.housename (class="form-control" ,placeholder="Enter your house name") }}
												    </div>

												    <div class="form-group col-md-6">
                                                        {{ form.size.label }}<br>
                                                        {{ form.size (class="form-control" ,placeholder="Enter your house size") }}
												    </div>

												    <div class="form-group col-md-6">
                                                        {{ form.floorkind.label }}<br>
                                                        {{ form.floorkind (class="form-control")}}
												    </div>

												    <div class="form-group col-md-6">
                                                        {{ form.floornumber.label }}<br>
                                                        {{ form.floornumber (class="form-control" ,placeholder="Enter your house floor") }}
												    </div>

												    <div class="form-group col-md-6">
                                                        {{ form.roomnumber.label }}<br>
                                                        {{ form.roomnumber(class="form-control" ,placeholder="Enter your room number") }}
												    </div>

												    <div class="form-group col-md-6">
                                                        {{ form.livingnumber.label }}<br>
                                                        {{ form.livingnumber (class="form-control" ,placeholder="Enter your living room number") }}
												    </div>

												    <div class="form-group col-md-6">
                                                        {{ form.bathnumber.label }}<br>
                                                        {{ form.bathnumber (class="form-control" ,placeholder="Enter your bath room number") }}
												    </div>

                                                    <div class="form-group col-md-6">
                                                        {{ form.districtid.label }}<br>
                                                        {{ form.districtid (class="form-control")}}
												    </div>

                                                    <div class="form-group col-md-6">
                                                        {{ form.communityid.label }}<br>
                                                        {{ form.communityid (class="form-control")}}
												    </div>

                                                    <div class="form-group col-md-6">
                                                        {{ form.imagename.label }}<br>
                                                        {{ form.imagename (class="form-control")}}
												    </div>

											    </div>
										    </div>
									    </div>



									    <div class="frm_submit_block">
										    <h4>Renting Detail</h4>
										    <div class="frm_submit_wrap">
											    <div class="form-row">

												    <div class="form-group col-md-6">
                                                        {{ form.renttype.label }}<br>
                                                        {{ form.renttype (class="form-control")}}
												    </div>

                                                    <div class="form-group col-md-6">
                                                        {{ form.price.label }}<br>
                                                        {{ form.price (class="form-control" ,placeholder="Enter your price") }}
												    </div>



											    </div>

										    </div>

									    </div>
                                        <div class="form-group col-lg-12 col-md-12">
                                            {{ form.change(class="btn btn-md full-width pop-login bg-2") }}
                                        </div>
                                    </form>

								</div>

								<div class="row">
									<div class="col-md-12 col-lg-12 mt-4">
										<footer class="text-center">
											<p class="mb-0">© 2020 Verio. Designd By <a href="#">Pexel Experts</a> All Rights Reserved</p>
										</footer>
									</div>
								</div>
								<!-- row -->

							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ User Dashboard End ================================== -->
{% endblock %}