{% if usertype == "1" %}
    {% extends "base_AfterO.html" %}
{% else %}
    {% extends "base_After.html" %}
{% endif %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- Basic Information -->
        <div class="frm_submit_block">
            <h3>Change Information House: ID= {{ houseid }}</h3>
            <br>
            <h4>The Predict Price is {{ predrictprice }}</h4>
            <div class="frm_submit_wrap">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        {{ form.housename.label }}<br>
                        {{ form.housename (class="form-control" ,placeholder="Enter your house name") }}
                        {% for error in form.housename.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.size.label }}<br>
                        {{ form.size (class="form-control" ,placeholder="Enter your house size") }}
                        {% for error in form.size.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.floorkind.label }}<br>
                        {{ form.floorkind (class="form-control")}}
                        {% for error in form.floorkind.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.floornumber.label }}<br>
                        {{ form.floornumber (class="form-control" ,placeholder="Enter your house floor") }}
                        {% for error in form.floornumber.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.roomnumber.label }}<br>
                        {{ form.roomnumber(class="form-control" ,placeholder="Enter your room number") }}
                        {% for error in form.roomnumber.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.livingnumber.label }}<br>
                        {{ form.livingnumber (class="form-control" ,placeholder="Enter your living room number") }}
                        {% for error in form.livingnumber.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.bathnumber.label }}<br>
                        {{ form.bathnumber (class="form-control" ,placeholder="Enter your bath room number") }}
                        {% for error in form.bathnumber.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.districtid.label }}<br>
                        {{ form.districtid (class="form-control", id="bathrooms")}}
                        {% for error in form.districtid.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.communityid.label }}<br>
                        {{ form.communityid (class="form-control", id="ptypes")}}
                        {% for error in form.communityid.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.imagename.label }}<br>
                        {{ form.imagename (class="form-control")}}
                        {% for error in form.imagename.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group col-md-12">
                        {{ form.description.label }}<br>
                        {{ form.description (class="form-control")}}
                        {% for error in form.description.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>



        <div class="frm_submit_block">
            <h4>Renting Detail</h4>
            <div class="frm_submit_wrap">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        {{ form.renttype.label }}<br>
                        {{ form.renttype (class="form-control")}}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.price.label }}<br>
                        {{ form.price (class="form-control" ,placeholder="Enter your price") }}
                    </div>



                </div>

            </div>

        </div>
        <div class="form-group col-lg-12 col-md-12">
            {{ form.change(class="btn btn-md full-width pop-login bg-2") }}
        </div>
    </form>
{% endblock %}