<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Interface-Index</title>

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{{ url_for('static', filename='assets/css/colors.css') }}" rel="stylesheet">

    </head>

    <body class="yellow-skin">

		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light dark-text">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="static/assets/img/logo.png" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">

                                <li class="active"><a href="#">Home</a></li>

                                <li><a href="{{ url_for('search') }}">Listings</a></li>

                                <li><a href="{{ url_for('my_profile') }}">Property</a></li>

                                <li><a href="contact.html">Contacts</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right dhsbrd">
								{% if not username %}
								<li>
									<a href="login.html" data-toggle="modal" data-target="#login" class="text-muted", onclick="location.href='login'">
                                        <i class="fas fa-user-circle mr-1"></i><span class="dn-lg">Login</span>
									</a>
								</li>
								<li class="add-listing bg-info">
									<a href="#" data-toggle="modal" data-target="#signup" class="theme-cl", onclick="location.href='register'">
										 <i class="fas fa-arrow-alt-circle-right mr-1"></i>Sign Up
									</a>
								</li>
                                {% else %}
                                <li>
									<div class="btn-group account-drop">
										<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="{{ avatars.gravatar(username) }}" height="50" width="50">&nbsp; Hi, {{ username }}
										</button>
										<div class="dropdown-menu pull-right animated flipInX">
											<a href="{{ url_for('my_profile') }}"><i class="ti-user"></i>My Profile</a>
											<a href="{{ url_for('change_password') }}"><i class="ti-unlock"></i>Change Password</a>
                                            <a href="{{ url_for('logout') }}"><i class="ti-bookmark"></i>Logout</a>
										</div>
									</div>
								</li>
                                {% endif %}
							</ul>

						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			{% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}

			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero_banner half_banner" style="background:#3d85fd url(static/assets/img/landing-bg.png) no-repeat;" data-overlay="1">
				<div class="container">

						<div class="row justify-content-center">
							<div class="col-lg-8 col-md-10 text-center">
								<h2 class="small-header-capt mb-1">Rent Homes Without Agency Fee!</h2>
								<span class="sb_title">We help you find the most verified trusted homes </span>

							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->

			<!-- ============================ partner Start ================================== -->
			<section class="gray-simple pt-4 pb-4">
				<div class="container">

					<div class="row">

						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-1.png" class="img-fluid" alt="" />
							</div>
						</div>

						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-2.png" class="img-fluid" alt="" />
							</div>
						</div>

						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-3.png" class="img-fluid" alt="" />
							</div>
						</div>

						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-4.png" class="img-fluid" alt="" />
							</div>
						</div>

						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-5.png" class="img-fluid" alt="" />
							</div>
						</div>

						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-6.png" class="img-fluid" alt="" />
							</div>
						</div>

					</div>

				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ partner End ================================== -->

			<!-- ============================ Featured Property Start ================================== -->
			<section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Recent Added Property</h2>
                                <p>There are up to six newly released partial listings, if you want to see more, please click the button below.</p>
							</div>
						</div>
					</div>

					<div class="row">
					{% if prev_posts %}
                    {% for post in prev_posts %}
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="grid-category-thumb">
										<a href="{{ url_for('house_detail',house_id=post.id) }}" class="overlay-cate"><img src="{{ url_for('static',filename='Uploaded_PH/'+post.image_name) }}" class="img-responsive" alt=""></a>
									</div>
									<div class="modern-list-content">

										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="{{ url_for('house_detail',house_id=post.id) }}">{{ post.name }}</a></h4>
											<p>
                                            {% for communitys in com_posts %}
                                                {% if communitys.id == post.community_id %}

                                                    {{communitys.community}},
                                                {% endif %}
                                            {% endfor %}

                                            {% for districts in dis_posts %}
                                                {% if districts.id == post.district_id %}

                                                    {{districts.district}}
                                                {% endif %}
                                            {% endfor %}
                                            </p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>{{ post.room_number }} Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>{{ post.bath_number }} Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">￥ {{ post.price }}</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
                    {% endfor %}
                    {% else %}
                        <h4>There is no home now, please wait someone submit houses.</h4>
                    {% endif %}
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="{{ url_for('search') }}" class="btn btn-theme arrow-btn bg-2">Browse All Property<span><i class="ti-arrow-right"></i></span></a>
						</div>
					</div>

				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Featured Property End ================================== -->


			<!-- ============================ Property Location Start ================================== -->
			<section  class="gray min">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Agents in Your City</h2>
						</div>
					</div>

					<div class="row">

						<!-- Single Agent -->
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="grid_agents style-2">

								<div class="grid_agents-wrap">

									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-1.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>

									<div class="fr-grid-deatil">
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">22 Properties</div>
									</div>

								</div>

                                <div class="grid_fr_info mb-5">
                                    <ul>
                                        <li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                        <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                        <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
                                    </ul>
                                </div>

								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
								</div>

							</div>
						</div>

						<!-- Single Agent -->
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="grid_agents style-2">

								<div class="grid_agents-wrap">

									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-2.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>

									<div class="fr-grid-deatil">
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">22 properties</div>
									</div>

								</div>

								<div class="grid_fr_info mb-5">
									<ul>
										<li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                        <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                        <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>

								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
								</div>

							</div>
						</div>

                        <!-- Single Agent -->
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="grid_agents style-2">

								<div class="grid_agents-wrap">

									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-2.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>

									<div class="fr-grid-deatil">
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">22 properties</div>
									</div>

								</div>

								<div class="grid_fr_info mb-5">
									<ul>
										<li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                        <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                        <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>

								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
								</div>

							</div>
						</div>

						<!-- Single Agent -->
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="grid_agents style-2">

								<div class="grid_agents-wrap">

									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-3.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>

									<div class="fr-grid-deatil">
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">102 Properties</div>
									</div>

								</div>

								<div class="grid_fr_info mb-5">
									<ul>
										<li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
                                        <li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
                                        <li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>

								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
								</div>

							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ============================ Property Location End ================================== -->


			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">

				<div class="footer-middle">
					<div class="container">
						<div class="row">

							<div class="col-lg-4 col-md-4">
								<div class="footer_widget">
                                    <div class="footlogo"><img src="{{ url_for('static', filename='assets/img/logo-light.png') }}" class="img-fluid mb-3" alt="" /></div>
									<p>School headquarters: No.100 pingleyuan, Chaoyang District, Beijing<br><br>Tongzhou Campus: No.89 Luyuan South Street, Tongzhou District, Beijing</p>
									<ul class="footer-bottom-social">
										<li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
										<li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
										<li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
										<li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">

								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">

								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">Contact Us</h4>
									<ul class="footer-menu">
                                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                                        <li><a href="https://twitter.com/">Twitter</a></li>
                                        <li><a href="https://www.google.com/">Google</a></li>
                                        <li><a href="https://www.linkedin.com/start/join">Linkedin</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">

							<div class="col-lg-12 col-md-12">
								<p class="mb-0">© 2021 Interface </p>
							</div>

						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->

			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<iframe class="embed-responsive-item" width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<!-- End Video Modal -->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/ion.rangeSlider.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/slick.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/slider-bg.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/lightbox.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/imagesloaded.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/daterangepicker.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/custom.js') }}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>