{% if usertype == "1" %}
    {% extends "base_AfterO.html" %}
{% else %}
    {% extends "base_After.html" %}
{% endif %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <!-- Basic Information -->
    <div class="frm_submit_block">
        <h4>My Account {{ usertype }}</h4>
        <div class="frm_submit_wrap">
            <div class="form-row">

                <div class="form-group col-md-6">
                    {{ form.nickname.label }}<br>
                    {{ form.nickname (class="form-control" ,placeholder="Enter your nickname") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.phone.label }}<br>
                    {{ form.phone (class="form-control" ,placeholder="Enter your phone number") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.address.label }}<br>
                    {{ form.address (class="form-control" ,placeholder="Enter your address") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.city.label }}<br>
                    {{ form.city (class="form-control" ,placeholder="Enter your city") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.email.label }}<br>
                    {{ form.email (class="form-control" ,placeholder="Enter your email") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.zip.label }}<br>
                    {{ form.zip (class="form-control" ,placeholder="Enter your zip") }}
                </div>

                <div class="form-group col-md-12">
                    {{ form.about.label }}<br>
                    {{ form.about (class="form-control" ,placeholder="Write something here about you") }}
                </div>

            </div>
        </div>
    </div>

    <div class="frm_submit_block">
        <h4>Social Accounts</h4>
        <div class="frm_submit_wrap">
            <div class="form-row">

                <div class="form-group col-md-6">
                    {{ form.facebook.label }}<br>
                    {{ form.facebook (class="form-control" ,placeholder="Your Facebook Account") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.twitter.label }}<br>
                    {{ form.twitter (class="form-control" ,placeholder="Your Twitter Account") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.google.label }}<br>
                    {{ form.google (class="form-control" ,placeholder="Your Google Account") }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.linkedin.label }}<br>
                    {{ form.linkedin (class="form-control" ,placeholder="Your LinkedIn Account") }}
                </div>

                <div class="form-group col-lg-12 col-md-12">
                    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock %}