<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Verio - Residence & Real Estate Template</title>

        <!-- Custom CSS -->
        <link href="static/assets/css/styles.css" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="static/assets/css/colors.css" rel="stylesheet">
# eyJhbGciOiJIUzUxMiIsImlhdCI6MTYxOTUyMjA2MCwiZXhwIjoxNjE5NTIyMDkwfQ.eyJ1c2VyX2lkIjoxfQ.QXtYD38MsetAQSdAoLhqezPQzFv90-njB88ZccW95oPG38PcsOlfyoDRoJc77ldL3dsDPqY7zPhh-YEDJE6mcw
    </head>

    <!-- <body class="yellow-skin bg-cover" style="background:#f4f4f4 url(static/assets/img/log-bg.jpg);" data-overlay="2">
 -->
 	<body class="yellow-skinbg-cover" style="background:#f4f4f4 url(static/assets/img/log-bg.jpg);">
{#	{% with messages = get_flashed_messages() %}#}
{#        {% if messages %}#}
{#        <ul>#}
{#            {% for message in messages %}#}
{#            <li>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        {% endif %}#}
{#        {% endwith %}#}
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

			<!-- ============================ Register Start ================================== -->
			<section>

				<div class="container">

					<div class="row justify-content-center">

						<!-- Single Package -->
						<div class="col-lg-10 col-md-12">
							<div class="log_box">

								<div class="row">

									<div class="col-lg-6 col-md-6">
                                        <h4 class="modal-header-title text-left">Sign In
                                            <h5>
                                                {% with messages = get_flashed_messages() %}
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <span style="color: red;">[{{ message }}]</span>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endwith %}
                                            </h5>
                                        </h4>

										<div class="login-form">
											<form action="" method="post" novalidate>
												{{ form.hidden_tag() }}

												<div class="row">

													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
{#																<input type="email" class="form-control" placeholder="Enter username or email">#}
                                                                {{ form.password.label }}<br>
                                                                {{ form.password(size=64) }}<br>
                                                                {% for error in form.password.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}

{#                                                                <div class="ti-email" style="height: 20px;width: 50px;"></div>#}
															</div>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
{#																<input type="email" class="form-control" placeholder="Enter username or email">#}
                                                                {{ form.confirm_password.label }}<br>
                                                                {{ form.confirm_password(size=64) }}<br>
                                                                {% for error in form.confirm_password.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}

{#                                                                <div class="ti-email" style="height: 20px;width: 50px;"></div>#}
															</div>
														</div>

													</div>

												</div>

												<div class="form-group">
{#													<button type="submit" class="btn btn-md full-width pop-login bg-2">Sign In</button>#}
                                                    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
												</div>

											</form>
										</div>

										<div class="text-center">
											<p class="mt-3">Don't have an account <a href="register" class="link">Register</a></p>
										</div>
                                    	<div class="text-center">
											<p class="mt-3">Forgot the password <a href="reset-password" class="link">Reset</a></p>
										</div>
                                        <div class="text-center">
											<p class="mt-3"><a href="index" class="link">Back To Home Page</a></p>
										</div>

									</div>
									<!-- /col-lg-6 -->

									<div class="col-lg-6 col-md-6">
										<img src="static/assets/img/log-img.png" class="img-fluid rounded" alt="img" />
									</div>
									<!-- /col-lg-6 -->

								</div>
							</div>
						</div>

					</div>

				</div>

			</section>
			<!-- ============================ Register End ================================== -->


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/popper.min.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
		<script src="static/assets/js/ion.rangeSlider.min.js"></script>
		<script src="static/assets/js/select2.min.js"></script>
		<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="static/assets/js/slick.js"></script>
		<script src="static/assets/js/slider-bg.js"></script>
		<script src="static/assets/js/lightbox.js"></script>
		<script src="static/assets/js/imagesloaded.js"></script>
		<script src="static/assets/js/daterangepicker.js"></script>
		<script src="static/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>
