<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Interface</title>

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{{ url_for('static', filename='assets/css/colors.css') }}" rel="stylesheet">


        {% block other_css %}

        {% endblock %}
    </head>

    <body class="yellow-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

			<!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light head-border">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="{{ url_for('static', filename='assets/img/logo.png') }}" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">

								<li><a href="house_list">Home</a>
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li><a href="index">Home Page</a></li>#}
{#										<li><a href="home-2.html">Home 2</a></li>#}
{#										<li><a href="home-3.html">Home 3</a></li>#}
{#										<li><a href="home-4.html">Home 4</a></li>#}
{#										<li><a href="home-5.html">Home 5</a></li>#}
{#										<li><a href="home-6.html">Home 6</a></li>#}
{#										<li><a href="home-7.html">Home 7</a></li>#}
{#										<li><a href="home-8.html">Home 8</a></li>#}
{#									</ul>#}
								</li>

								<li><a href="house_list">Listings</a>
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li><a href="#">Listing Grid<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="grid-layout-with-sidebar.html">Grid Style 1</a></li>#}
{#												<li><a href="grid-layout-2.html">Grid Style 2</a></li>#}
{#												<li><a href="grid-layout-3.html">Grid Style 3</a></li>#}
{#												<li><a href="grid-layout-4.html">Grid Style 4</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Listing List<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="list-layout-with-sidebar.html">List Style 1</a></li>#}
{#												<li><a href="list-layout-with-map-2.html">List Style 2</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Listing Map<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="half-map.html">Half Map</a></li>#}
{#												<li><a href="list-layout-with-map.html">List Sidebar Map</a></li>#}
{#												<li><a href="grid-layout-with-map.html">Grid Sidebar Map</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="agents.html">Find Agents</a></li>#}
{#										<li><a href="agencies.html">Find Agencies</a></li>#}
{#									</ul>#}
								</li>

								<li><a href="#">Property</a></li>

								<li><a href="contact.html">Contacts</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right dhsbrd">

								<li>
									<div class="btn-group account-drop">
										<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="{{ avatars.gravatar(username) }}" height="50" width="50">&nbsp; Hi, {{ username }}
										</button>
										<div class="dropdown-menu pull-right animated flipInX">
											<a href="{{ url_for('my_profile') }}"><i class="ti-user"></i>My Profile</a>
											<a href="{{ url_for('my_houselist') }}"><i class="ti-layers"></i>My Houses</a>
											<a href="{{ url_for('change_password') }}"><i class="ti-unlock"></i>Change Password</a>
                                            <a href="{{ url_for('logout') }}"><i class="ti-bookmark"></i>Logout</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}

			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<iframe class="embed-responsive-item" width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<!-- End Video Modal -->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/ion.rangeSlider.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slick.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slider-bg.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/lightbox.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/daterangepicker.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
    {% block script %}

    {% endblock %}
	</body>

</html>