<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Interface</title>

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{{ url_for('static', filename='assets/css/colors.css') }}" rel="stylesheet">

    </head>

    <body class="yellow-skin">

		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light dark-text">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="{{ url_for('static', filename='assets/img/logo.png') }}" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">

                                {% if nav_tittle == "customer_index" %}
                                <li class="active"><a href="{{ url_for('customer_index') }}">Home</a></li>
                                {% else %}
                                <li><a href="{{ url_for('customer_index') }}">Home</a></li>
                                {% endif %}

                                {% if nav_tittle == "search_houselist" %}
                                <li class="active"><a href="{{ url_for('search', page=1) }}">Listings</a></li>
                                {% else %}
                                <li><a href="{{ url_for('search', page=1) }}">Listings</a></li>
                                {% endif %}

                                <li><a href="{{ url_for('my_profile') }}">Property</a></li>

                                <li><a href="contact.html">Contacts</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right dhsbrd">

								<li>
									<div class="btn-group account-drop">
										<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<img src="{{ avatars.gravatar(username) }}" height="50" width="50">&nbsp; Hi, {{ username }}
										</button>
										<div class="dropdown-menu pull-right animated flipInX">
											<a href="{{ url_for('my_profile') }}"><i class="ti-user"></i>My Profile</a>
											<a href="{{ url_for('my_save') }}"><i class="ti-layers"></i>My Save</a>
                                            <a href="{{ url_for('calculator') }}"><i class="ti-layers"></i>Calculator</a>
											<a href="{{ url_for('change_password') }}"><i class="ti-unlock"></i>Change Password</a>
                                            <a href="{{ url_for('logout') }}"><i class="ti-bookmark"></i>Logout</a>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			{% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}
            {% block content %}
            {% endblock %}

			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">

				<div class="footer-middle">
					<div class="container">
						<div class="row">

							<div class="col-lg-4 col-md-4">
								<div class="footer_widget">
									<div class="footlogo"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" class="img-fluid mb-3" alt="" /></div>
									<p>2512, New Market Eliza Road, Sincher 80<br>Montreal Central Canada,<br>USA QHVK1254</p>
									<ul class="footer-bottom-social">
										<li><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
										<li><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
										<li><a href="https://www.google.com/"><i class="ti-google"></i></a></li>
										<li><a href="https://www.linkedin.com/start/join"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">My Homes</h4>
									<ul class="footer-menu">
										<li><a href="#">New York</a></li>
										<li><a href="#">California</a></li>
										<li><a href="#">Louisiana</a></li>
										<li><a href="#">Las Vegas</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">About Us</h4>
									<ul class="footer-menu">
										<li><a href="#">Apartment</a></li>
										<li><a href="#">My Houses</a></li>
										<li><a href="#">Restaurant</a></li>
										<li><a href="#">Nightlife</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">News</h4>
									<ul class="footer-menu">
										<li><a href="#">My Profile</a></li>
										<li><a href="#">My account</a></li>
										<li><a href="#">My Property</a></li>
										<li><a href="#">Favorites</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">Help</h4>
									<ul class="footer-menu">
										<li><a href="#">Conditions</a></li>
										<li><a href="#">Privacy</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">FAQs</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">

							<div class="col-lg-12 col-md-12">
								<p class="mb-0">© 2021 Interface</p>
							</div>

						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->


			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<iframe class="embed-responsive-item" width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<!-- End Video Modal -->

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/ion.rangeSlider.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slick.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slider-bg.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/lightbox.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/daterangepicker.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>