{% if usertype == "1" %}
    {% extends "base_BeforeO.html" %}
{% else %}
    {% extends "base_Before.html" %}
{% endif %}

{% block content %}

    <!-- ============================ Property Detail Start ================================== -->
    <section class="gray-dark">
        <div class="container">
            <div class="row">

                <!-- property main detail -->
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <!-- Blog Detail -->
                    <div class="article_detail_wrapss single_article_wrap format-standard">
                        <div class="article_body_wrap">

                            <div class="article_featured_image">
                                <img class="img-fluid" src="{{ url_for('static',filename='Uploaded_PH/'+house_in_db.image_name) }}" alt="">
                            </div>

                            <div class="article_top_info">
                                <ul class="article_middle_info">
                                    <li><a href="#"><span class="icons"></span>ID: {{ houseid }}</a></li>

                                </ul>
                            </div>
                            <h2 class="post-title">{{ house_in_db.name}}  .  ￥ {{ house_in_db.price }}</h2>
                        </div>
                    </div>

                    <!-- Single Block Wrap -->
                    <div class="property_block_wrap style-2">

                        <div class="property_block_wrap_header">
                            <a data-toggle="collapse" data-parent="#features" href="#clOne" aria-expanded="true"><h4 class="property_block_title">Detail & Features</h4></a>
                        </div>
                        <div id="clOne" class="panel-collapse collapse show" aria-expanded="true">
                            <div class="block-body">
                                <ul class="deatil_features">
                                    <li><strong>Bedrooms:</strong>{{ house_in_db.room_number }}</li>
                                    <li><strong>Bathrooms:</strong>{{ house_in_db.bath_number }}</li>
                                    <li><strong>Living rooms:</strong>{{ house_in_db.living_number }}</li>
                                    <li><strong>Size:</strong>{{ house_in_db.size }}</li>
                                    <li><strong>Renting Type:</strong>
                                    {% if house_in_db.rent_type == 1 %}
                                        Whole
                                    {% else %}
                                        Sharing
                                    {% endif %}
                                    </li>
                                    <li><strong>Floor Number:</strong>{{ house_in_db.floor_number }}</li>
                                    <li><strong>Floor Kind:</strong>
                                    {% for floors in floor_posts %}
                                        {% if floors.id == house_in_db.floor_kind %}
                                            {{floors.floor}}
                                        {% endif %}
                                    {% endfor %}
                                    </li>
                                    <li><strong>District:</strong>
                                    {% for districts in dis_posts %}
                                        {% if districts.id == house_in_db.district_id %}

                                            {{districts.district}}
                                        {% endif %}
                                    {% endfor %}
                                    </li>
                                    <li><strong>Community:</strong>
                                    {% for communitys in com_posts %}
                                        {% if communitys.id == house_in_db.community_id %}

                                            {{communitys.community}}
                                        {% endif %}
                                    {% endfor %}
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="property_block_wrap style-2">

                        <div class="property_block_wrap_header">
                            <a data-toggle="collapse" data-parent="#dsrp" href="#clTwo" aria-expanded="true"><h4 class="property_block_title">Description</h4></a>
                        </div>
                        <div id="clTwo" class="panel-collapse collapse show" aria-expanded="true">
                            <div class="block-body">
                                <p>{{ house_in_db.description }}</p>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- property Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="property-sidebar">

                        <div class="agent-_blocks_wrap b-0">
                            <div class="side-booking-header">
                                <h3 class="price">Owner Information</h3>
                            </div>
                            <div class="side-booking-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-6">
{#                                        <div class="form-group">#}
{#                                            <div class="cld-box">#}
{#                                                <i class="ti-calendar"></i>#}
{#                                                <input type="text" name="checkin" class="form-control" value="10/24/2020" />#}
{#                                            </div>#}
{#                                        </div>#}
                                        <h4>User Name: {{ owner_in_db.username }}</h4>
                                        <h4>Email Address: {{ owner_in_db.email }}</h4>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Agent Detail -->
                        <form action="" method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                        <div class="agent-_blocks_wrap b-0">
                            <div class="side-block-header">
                                <h3 class="title">Message To Owner</h3>
                            </div>
                            <div class="side-block-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-6">
                                        <div class="form-group">
                                            {{ form.name (class="form-control" ,placeholder="Your Name") }}
                                            {% for error in form.name.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6">
                                        <div class="form-group">
                                            {{ form.email (class="form-control" ,placeholder="Email Address") }}
                                            {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            {{ form.phone (class="form-control" ,placeholder="Contact Number") }}
                                            {% for error in form.phone.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            {{ form.information (class="form-control" ,placeholder="Type Message") }}
                                            {% for error in form.information.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="stbooking-footer mt-1">
                                            <div class="form-group mb-0 pb-0">
                                                {{ form.submit(class="btn btn-md full-width btn-theme bg-2") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Share & Like Button -->
                        <div class="like_share_wrap b-0">
                            <button onclick="house_save('{{ houseid }}', '{{ uid }}')" class="btn btn-outline-theme full-width"><i class="fas fa-heart"></i>  Save This House</button>
                        </div>

                        <script>
                            function house_save(house_id, user_id){
                                var res=confirm('Are you sure to save this House?');
                                if(res==true){
                                    var s = house_id;
                                    var u = user_id;

                                    $.ajax({
                                        url:'/saveHouse',
                                        type:"post",
                                        data: "s="+s+"&u="+u,
                                        dataType:'json',
                                        traditional:true,
                                        async:false,
                                        success:function(d){
                                            alert('You have saved house: ID='+d);
                                            window.location.href='{{ url_for('house_detail', house_id=houseid) }}';
                                        },
                                        error:function (e){
                                            alert("error"+e);
                                        }
                                });
                                }

                            }
                        </script>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Property Detail End ================================== -->


{% endblock %}