<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>Verio - Residence & Real Estate Template</title>
		 
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="{{ url_for('static', filename='assets/css/colors.css') }}" rel="stylesheet">
		
    </head>
	
    <body class="yellow-skin">
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light dark-text">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="static/assets/img/logo.png" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
							
{#								<li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li><a href="index.html">Home 1</a></li>#}
{#										<li><a href="home-2.html">Home 2</a></li>#}
{#										<li><a href="home-3.html">Home 3</a></li>#}
{#										<li><a href="home-4.html">Home 4</a></li>#}
{#										<li><a href="home-5.html">Home 5</a></li>#}
{#										<li><a href="home-6.html">Home 6</a></li>#}
{#										<li><a href="home-7.html">Home 7</a></li>#}
{#										<li><a href="home-8.html">Home 8</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li><a href="#">Listings<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li><a href="#">Listing Grid<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="grid-layout-with-sidebar.html">Grid Style 1</a></li>#}
{#												<li><a href="grid-layout-2.html">Grid Style 2</a></li>#}
{#												<li><a href="grid-layout-3.html">Grid Style 3</a></li>#}
{#												<li><a href="grid-layout-4.html">Grid Style 4</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Listing List<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="list-layout-with-sidebar.html">List Style 1</a></li>#}
{#												<li><a href="list-layout-with-map-2.html">List Style 2</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Listing Map<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="half-map.html">Half Map</a></li>#}
{#												<li><a href="list-layout-with-map.html">List Sidebar Map</a></li>#}
{#												<li><a href="grid-layout-with-map.html">Grid Sidebar Map</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="agents.html">Find Agents</a></li>#}
{#										<li><a href="agencies.html">Find Agencies</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								#}
{#								<li><a href="#">Property<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu">#}
{#										<li class=""><a href="#">User Admin<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu">#}
{#												<li><a href="dashboard.html">User Dashboard</a></li>#}
{#												<li><a href="my_profile.html">My Profile</a></li>#}
{#												<li><a href="my-property.html">My Property</a></li>#}
{#												<li><a href="bookmark-list.html">Bookmark Property</a></li>#}
{#												<li><a href="submit-property.html">Submit Property</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Single Property<span class="submenu-indicator"></span></a>#}
{#											<ul class="nav-dropdown nav-submenu" style="display: none;">#}
{#												<li><a href="single-property-1.html">Single Property 1</a></li>#}
{#												<li><a href="single-property-2.html">Single Property 2</a></li>#}
{#												<li><a href="single-property-3.html">Single Property 3</a></li>#}
{#												<li><a href="single-property-4.html">Single Property 4</a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="compare-property.html">Compare Property</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								#}
{#								<li><a href="#">Pages<span class="submenu-indicator"></span></a>#}
{#									<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">#}
{#										<li><a href="blog.html">Blog Style</a></li>#}
{#										<li><a href="blog-detail.html">Blog Detail</a></li>#}
{#										<li><a href="pricing.html">Pricing</a></li>#}
{#										<li><a href="404.html">404 Page</a></li>#}
{#										<li><a href="checkout.html">Checkout</a></li>#}
{#										<li><a href="register.html">Register</a></li>#}
{#										<li><a href="login.html">Log In</a></li>#}
{#										<li><a href="component.html">Elements</a></li>#}
{#										<li><a href="privacy.html">Privacy Policy</a></li>#}
{#										<li><a href="faq.html">FAQs</a></li>#}
{#									</ul>#}
{#								</li>#}
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="{{ url_for('my_houselist') }}">Chose House</a></li>
                                <li><a href="#">Appraise Value</a></li>
                                <li><a href="#">Manage Information</a></li>
                                <li><a href="{{ url_for('my_profile') }}">Personal Information</a></li>
								<li><a href="#">Contacts</a></li>
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-right dhsbrd">
								{% if not username %}
								<li>
									<a href="login.html" data-toggle="modal" data-target="#login" class="text-muted", onclick="location.href='login'">
                                        <i class="fas fa-user-circle mr-1"></i><span class="dn-lg">Login</span>
									</a>
								</li>
								<li class="add-listing bg-info">
									<a href="#" data-toggle="modal" data-target="#signup" class="theme-cl", onclick="location.href='register'">
										 <i class="fas fa-arrow-alt-circle-right mr-1"></i>Sign Up
									</a>
								</li>
                                {% else %}
                                <li>
									<div class="btn-group account-drop">
										<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{#											<img src="static/assets/img/user-5.jpg" class="avater-img" alt=""> Hi, {{ username }}#}
                                            <img src="{{ avatars.gravatar(username) }}" height="50" width="50">&nbsp; Hi, {{ username }}
										</button>
										<div class="dropdown-menu pull-right animated flipInX">
											<a href="my_profile"><i class="ti-user"></i>My Profile</a>
											<a href="my_houselist"><i class="ti-layers"></i>My Houses</a>
											<a href="change_password"><i class="ti-unlock"></i>Change Password</a>
                                            <a href="{{ url_for('logout') }}"><i class="ti-bookmark"></i>Logout</a>
										</div>
									</div>
								</li>
                                {% endif %}
							</ul>
							
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero_banner half_banner" style="background:#3d85fd url(static/assets/img/landing-bg.png) no-repeat;" data-overlay="1">
				<div class="container">
	
						<div class="row justify-content-center">
							<div class="col-lg-8 col-md-10 text-center">
								<h2 class="small-header-capt mb-1">Rent Homes Without Agency Fee!</h2>
								<span class="sb_title">We help you find the most verified trusted homes </span>
								<div class="full_search_box nexio_search lightanic_search hero_search-radius style-3 mt-5">
									<div class="search_hero_wrapping">
									<div class="row m-0">
							
										<div class="col-lg-2 col-md-3 col-sm-4 p-0">
											<div class="form-group">
												<div class="ico-bg b-r">
													<select id="lookingfor" class="form-control">
														<option value="">&nbsp;</option>
														<option value="1">Sale</option>
														<option value="2">Rent</option>
														<option value="3">Buy</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-lg-10 col-md-9 col-sm-8 small-padd">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control b-0" placeholder="Search project, locality, landmarks">
													<img src="static/assets/img/pin.svg" alt="" />
												</div>
											</div>
										</div>
								
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ partner Start ================================== -->
			<section class="gray-simple pt-4 pb-4">
				<div class="container">
					
					<div class="row">
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-1.png" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-2.png" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-3.png" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-4.png" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-5.png" class="img-fluid" alt="" />
							</div>
						</div>
						
						<!-- Single Partner -->
						<div class="col-md-3 col-sm-4 col-lg">
							<div class="partner-grid">
								<img src="static/assets/img/brand-6.png" class="img-fluid" alt="" />
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ partner End ================================== -->
			
			<!-- ============================ Featured Property Start ================================== -->
			<section>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Featured Spaces For You</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
					</div>
					
					<div class="row">
					
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="grid-category-thumb">
										<a href="single-property-3.html" class="overlay-cate"><img src="static/assets/img/space/1.jpg" class="img-responsive" alt=""></a>
										<div class="property_meta simple">
											<a href="#" class="cate-trix theme-cl">For Sale</a>
										</div>
									</div>
									<div class="modern-list-content">
										<div class="author-avater">
											<img src="static/assets/img/user-1.jpg" class="author-avater-img" alt="">
										</div>
										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="single-property-3.html">HizratVitory House</a></h4> 
											<p>Montreal, Canada</p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>3 Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">$1850</h4>
										</div>
									</div>
								</div>	
							</div>
						</div>
				
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="list-badge now-close">Featured</div>
									<div class="grid-category-thumb">
										<a href="single-property-3.html" class="overlay-cate"><img src="static/assets/img/space/2.jpg" class="img-responsive" alt=""></a>
										<div class="property_meta simple">
											<a href="#" class="cate-trix theme-cl">For Sale</a>
										</div>
									</div>
									<div class="modern-list-content">
										<div class="author-avater">
											<img src="static/assets/img/user-2.jpg" class="author-avater-img" alt="">
										</div>
										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="single-property-3.html">Green Park Vesu</a></h4> 
											<p>Liverpool, London</p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>3 Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">$1,050</h4>
										</div>
									</div>
								</div>	
							</div>
						</div>
						
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="grid-category-thumb">
										<a href="single-property-3.html" class="overlay-cate"><img src="static/assets/img/space/3.jpg" class="img-responsive" alt=""></a>
										<div class="property_meta simple">
											<a href="#" class="cate-trix theme-cl">For Rent</a>
										</div>
									</div>
									<div class="modern-list-content">
										<div class="author-avater">
											<img src="static/assets/img/user-3.jpg" class="author-avater-img" alt="">
										</div>
										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="single-property-3.html">Sai Singh Line</a></h4> 
											<p>Bimingham, London</p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>3 Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">$854</h4>
										</div>
									</div>
								</div>	
							</div>
						</div>

						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="grid-category-thumb">
										<a href="single-property-3.html" class="overlay-cate"><img src="static/assets/img/space/4.jpg" class="img-responsive" alt=""></a>
										<div class="property_meta simple">
											<a href="#" class="cate-trix theme-cl">For Sale</a>
										</div>
									</div>
									<div class="modern-list-content">
										<div class="author-avater">
											<img src="static/assets/img/user-1.jpg" class="author-avater-img" alt="">
										</div>
										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="single-property-3.html">Hizrat Villa</a></h4> 
											<p>San Francisco, USA</p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>3 Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">$650</h4>
										</div>
									</div>
								</div>	
							</div>
						</div>
				
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="list-badge now-close">Featured</div>
									<div class="grid-category-thumb">
										<a href="single-property-3.html" class="overlay-cate"><img src="static/assets/img/space/5.jpg" class="img-responsive" alt=""></a>
										<div class="property_meta simple">
											<a href="#" class="cate-trix theme-cl">For Rent</a>
										</div>
									</div>
									<div class="modern-list-content">
										<div class="author-avater">
											<img src="static/assets/img/user-2.jpg" class="author-avater-img" alt="">
										</div>
										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="single-property-3.html">Resort Valley Ocs</a></h4> 
											<p>San Francisco, Canada</p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>3 Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">$750</h4>
										</div>
									</div>
								</div>	
							</div>
						</div>
						
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="list-slide-box">
								<div class="modern-list">
									<div class="grid-category-thumb">
										<a href="single-property-3.html" class="overlay-cate"><img src="static/assets/img/space/6.jpg" class="img-responsive" alt=""></a>
										<div class="property_meta simple">
											<a href="#" class="cate-trix theme-cl">For Sale</a>
										</div>
									</div>
									<div class="modern-list-content">
										<div class="author-avater">
											<img src="static/assets/img/user-3.jpg" class="author-avater-img" alt="">
										</div>
										<div class="listing-content-wrap smalls">
											<h4 class="lst-title"><a href="single-property-3.html">New Clue Apartment</a></h4> 
											<p>Liverpool, London</p>
										</div>
										<div class="listing-footer-wrap property-lists mt-2">
											<div class="property-lists flex-1">
												<ul>
													<li><span class="flatcons"><img src="static/assets/img/color-bed.svg" alt=""></span>3 Beds</li>
													<li><span class="flatcons"><img src="static/assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
												</ul>
											</div>
											<h4 class="mdr-price">$670</h4>
										</div>
									</div>
								</div>	
							</div>
						</div>						
						
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<a href="#" class="btn btn-theme arrow-btn bg-2">Browse All Property<span><i class="ti-arrow-right"></i></span></a>
						</div>
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Featured Property End ================================== -->
			
			<!-- ============================ Recent Properties Start ================================== -->
			<section class="gray-simple">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Recent Added Property</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
					</div>
					
					<div class="row">
					
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="sides_list_property large">
								<div class="sides_list_property_thumb">
									<img src="static/assets/img/homes/1.jpg" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
									<span><i class="ti-location-pin"></i>Sans Fransico</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix sale">For Sale</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$4,240</h4>
										</div>
										<div class="lists_property_added">
											<small>3 days ago</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="sides_list_property large">
								<div class="sides_list_property_thumb">
									<img src="static/assets/img/homes/2.jpg" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Montreal Quriqe Apartment</a></h4>
									<span><i class="ti-location-pin"></i>Liverpool, London</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix">For Rent</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$7,380</h4>
										</div>
										<div class="lists_property_added">
											<small>10 days ago</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="sides_list_property large">
								<div class="sides_list_property_thumb">
									<img src="static/assets/img/homes/3.jpg" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Curmic Studio For Office</a></h4>
									<span><i class="ti-location-pin"></i>Montreal, Canada</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix">For Rent</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$8,730</h4>
										</div>
										<div class="lists_property_added">
											<small>25 days ago</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="sides_list_property large">
								<div class="sides_list_property_thumb">
									<img src="static/assets/img/homes/4.jpg" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Lisque Viral Villa</a></h4>
									<span><i class="ti-location-pin"></i>Sreek View, New York</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix buy">For Buy</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$7,240</h4>
										</div>
										<div class="lists_property_added">
											<small>29 days ago</small>
										</div>
									</div>
								</div>
							</div>
						</div>
				
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="sides_list_property large">
								<div class="sides_list_property_thumb">
									<img src="static/assets/img/homes/5.jpg" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Green Quebec Villa</a></h4>
									<span><i class="ti-location-pin"></i>101 Street, New York</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix buy">For Buy</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$8,200</h4>
										</div>
										<div class="lists_property_added">
											<small>1 month ago</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="sides_list_property large">
								<div class="sides_list_property_thumb">
									<img src="static/assets/img/homes/6.jpg" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Blue Royal Homes</a></h4>
									<span><i class="ti-location-pin"></i>Montreal, Canada</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix sale">For Sale</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$6,985</h4>
										</div>
										<div class="lists_property_added">
											<small>2 month ago</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center mt-3">
							<a href="#" class="btn btn-theme arrow-btn bg-2">Browse All Property<span><i class="ti-arrow-right"></i></span></a>
						</div>
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Recent Properties End ================================== -->
			
			<!-- ============================ Video help ================================== -->
			<div class="property_video">
				<div class="thumb radius-0">
					<img class="pro_img img-fluid w100" src="static/assets/img/banner-3.jpg" alt="7.jpg">
					<div class="overlay_icon">
						<div class="bb-video-box">
							<div class="bb-video-box-inner">
								<div class="bb-video-box-innerup">
									<a href="https://www.youtube.com/watch?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Video help End ================================== -->
			
			<!-- ============================ Property Location Start ================================== -->
			<section class="min">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Agents in Your City</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
					</div>
					
					<div class="row">
					
						<!-- Single Agent -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="grid_agents style-2">
								
								<div class="grid_agents-wrap">
									
									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-1.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>
									
									<div class="fr-grid-deatil">	
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">22 Properties</div>
									</div>
									
								</div>
								
								<div class="grid_fr_info mb-5">
									<ul>
										<li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
										<li><a href="#" class="cl-ins"><i class="ti-instagram"></i></a></li>
										<li><a href="#" class="cl-lnk"><i class="ti-linkedin"></i></a></li>
										<li><a href="#" class="cl-tw"><i class="ti-twitter"></i></a></li>
									</ul>
								</div>
								
								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
									<div class="agent_grid_footer_last">
										<a href="agency-page.html" class="agf_properties">View Agent</a>
									</div>
								</div>
								
							</div>
						</div>
						
						<!-- Single Agent -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="grid_agents style-2">
								
								<div class="grid_agents-wrap">
									
									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-2.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>
									
									<div class="fr-grid-deatil">	
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">22 properties</div>
									</div>
									
								</div>
								
								<div class="grid_fr_info mb-5">
									<ul>
										<li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
										<li><a href="#" class="cl-ins"><i class="ti-instagram"></i></a></li>
										<li><a href="#" class="cl-lnk"><i class="ti-linkedin"></i></a></li>
										<li><a href="#" class="cl-tw"><i class="ti-twitter"></i></a></li>
									</ul>
								</div>
								
								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
									<div class="agent_grid_footer_last">
										<a href="agency-page.html" class="agf_properties">View Agent</a>
									</div>
								</div>
								
							</div>
						</div>
						
						<!-- Single Agent -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="grid_agents style-2">
								
								<div class="grid_agents-wrap">
									
									<div class="fr-grid-thumb">
										<a href="agent-page.html">
											<img src="static/assets/img/team-3.jpg" class="img-fluid mx-auto" alt="" />
										</a>
									</div>
									
									<div class="fr-grid-deatil">	
										<h5 class="fr-can-name"><a href="#">Jannat Apartment</a></h5>
										<div class="mt-1">102 Properties</div>
									</div>
									
								</div>
								
								<div class="grid_fr_info mb-5">
									<ul>
										<li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
										<li><a href="#" class="cl-ins"><i class="ti-instagram"></i></a></li>
										<li><a href="#" class="cl-lnk"><i class="ti-linkedin"></i></a></li>
										<li><a href="#" class="cl-tw"><i class="ti-twitter"></i></a></li>
									</ul>
								</div>
								
								<div class="grid_agents_footer">
									<div class="agent_grid_footer_first">
										<i class="lni-phone-handset mr-1"></i>(123) 123-456
									</div>
									<div class="agent_grid_footer_last">
										<a href="agency-page.html" class="agf_properties">View Agent</a>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ============================ Property Location End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="newsletter inverse-theme">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 col-sm-10">
							<div class="text-center">
								<h2>Signup for your real home thats feels you real home owner</h2>
								<p>Subscribe our newsletter & get latest news and updation!</p>
								<form class="sup-form">
									<input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
									<button type="submit" class="btn btn-theme bg-2">Subscribe</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">
				
				<div class="footer-middle">
					<div class="container">
						<div class="row">
							
							<div class="col-lg-4 col-md-4">
								<div class="footer_widget">
									<div class="footlogo"><img src="static/assets/img/logo-light.png" class="img-fluid mb-3" alt="" /></div>
									<p>2512, New Market Eliza Road, Sincher 80<br>Montreal Central Canada,<br>USA QHVK1254</p>
									<ul class="footer-bottom-social">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">My Homes</h4>
									<ul class="footer-menu">
										<li><a href="#">New York</a></li>
										<li><a href="#">California</a></li>
										<li><a href="#">Louisiana</a></li>
										<li><a href="#">Las Vegas</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">About Us</h4>
									<ul class="footer-menu">
										<li><a href="#">Apartment</a></li>
										<li><a href="#">My Houses</a></li>
										<li><a href="#">Restaurant</a></li>
										<li><a href="#">Nightlife</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">News</h4>
									<ul class="footer-menu">
										<li><a href="#">My Profile</a></li>
										<li><a href="#">My account</a></li>
										<li><a href="#">My Property</a></li>
										<li><a href="#">Favorites</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">Help</h4>
									<ul class="footer-menu">
										<li><a href="#">Conditions</a></li>
										<li><a href="#">Privacy</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">FAQs</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12">
								<p class="mb-0">© 2020 Verio. Designd By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
{#			<!-- Log In Modal -->#}
{#			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">#}
{#				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">#}
{#					<header class="modal_content_header">#}
{#						<div class="hm_nav">#}
{#							<h3 class="hm_nav_title">Log In</h3>#}
{#							<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>#}
{#							<span class="hm_nav_clear">Clear</span>#}
{#						</div>#}
{#					</header>#}
{#					<div class="modal-content" id="registermodal">#}
{#						<div class="modal-body">#}
{#							<div class="login-form">#}
{#								<form>#}
{#								#}
{#									<div class="form-group">#}
{#										<label>User Name</label>#}
{#										<div class="input-with-icon">#}
{#											<input type="text" class="form-control" placeholder="Username">#}
{#                                            {{ form.username.label }}<br>#}
{#                                            {{ form1.username(class="form-control", placeholder="Username") }}#}
{##}
{#                                            {% for error in form1.username.errors %}#}
{#                                            <span style="color: #ff0000;">[{{ error }}]</span>#}
{#                                            {% endfor %}#}
{#											<i class="ti-user"></i>#}
{#										</div>#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<label>Password</label>#}
{#										<div class="input-with-icon">#}
{#											<input type="password" class="form-control" placeholder="*******">#}
{#                                            {{ form1.password.label }}<br>#}
{#                                            {{ form1.password(class="form-control", placeholder="*******") }}#}
{##}
{#                                            {% for error in form1.password.errors %}#}
{#                                            <span style="color: red;">[{{ error }}]</span>#}
{#                                            {% endfor %}#}
{#											<i class="ti-unlock"></i>#}
{#										</div>#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<button type="submit" class="btn btn-md full-width pop-login bg-2">Login</button>#}
{#                                        {{ form1.submit(class="btn btn-md full-width pop-login bg-2") }}#}
{#									</div>#}
{#								#}
{#								</form>#}
{#							</div>#}
{#							<div class="modal-divider"><span>Or login via</span></div>#}
{#							<div class="social-login mb-3">#}
{#								<ul>#}
{#									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>#}
{#									<li><a href="#" class="btn connect-twitter"><i class="ti-twitter"></i>Twitter</a></li>#}
{#								</ul>#}
{#							</div>#}
{#							#}
{#							<div class="social-login mb-3">#}
{#								<ul>#}
{#									<li>#}
{#										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">#}
{#										<label for="reg" class="checkbox-custom-label">Save Password</label>#}
{#									</li>#}
{#									<li><a href="#" class="theme-cl">Forget Password?</a></li>#}
{#								</ul>#}
{#							</div>#}
{#							#}
{#							<div class="text-center">#}
{#								<p class="mt-2">Haven't Any Account? <a href="{{ url_for('register') }}" class="link">Click here</a></p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<!-- End Modal -->#}
{#			#}
{#			<!-- Sign Up Modal -->#}
{#			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">#}
{#				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">#}
{#					<header class="modal_content_header">#}
{#						<div class="hm_nav">#}
{#							<h3 class="hm_nav_title">Sign Up</h3>#}
{#							<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>#}
{#							<span class="hm_nav_clear">Clear</span>#}
{#						</div>#}
{#					</header>#}
{#					<div class="modal-content" id="sign-up">#}
{#						<div class="modal-body">#}
{#							<div class="login-form">#}
{#								<form>#}
{#									#}
{#									<div class="row">#}
{#										#}
{#										<div class="col-lg-12 col-md-12">#}
{#											<div class="form-group">#}
{#												<label>User Name</label>#}
{#												<div class="input-with-icon">#}
{#                                                    {{ form2.username.label }}<br>#}
{#                                                    {{ form2.username(class="form-control", placeholder="Username") }}#}
{##}
{#                                                    {% for error in form2.username.errors %}#}
{#                                                        <span style="color: red;">[{{ error }}]</span>#}
{#                                                    {% endfor %}#}
{#													<input type="text" class="form-control" placeholder="Full Name">#}
{#													<i class="ti-user"></i>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
{#										#}
{#										<div class="col-lg-12 col-md-12">#}
{#											<div class="form-group">#}
{#												<label>Email</label>#}
{#												<div class="input-with-icon">#}
{#													<input type="email" class="form-control" placeholder="Email">#}
{#                                                    {{ form2.email.label }}<br>#}
{#                                                    {{ form2.email(class="form-control", placeholder="Email") }}#}
{##}
{#                                                    {% for error in form2.email.errors %}#}
{#                                                    <span style="color: red;">[{{ error }}]</span>#}
{#                                                    {% endfor %}#}
{#													<i class="ti-email"></i>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
{#										#}
{#										<div class="col-lg-12 col-md-12">#}
{#											<div class="form-group">#}
{#												<label>Password</label>#}
{#												<div class="input-with-icon">#}
{#                                                    {{ form2.password.label }}<br>#}
{#                                                    {{ form2.password(class="form-control", placeholder="*******") }}#}
{##}
{#                                                    {% for error in form2.password.errors %}#}
{#                                                    <span style="color: red;">[{{ error }}]</span>#}
{#                                                    {% endfor %}#}
{#													<input type="password" class="form-control" placeholder="*******">#}
{#													<i class="ti-unlock"></i>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
{##}
{#                                        <div class="col-lg-12 col-md-12">#}
{#											<div class="form-group">#}
{#												<label>Re-Enter Password</label>#}
{#												<div class="input-with-icon">#}
{#													<input type="text" class="form-control" placeholder="Re-Enter Password">#}
{#                                                    {{ form2.password2.label }}<br>#}
{#                                                    {{ form2.password2(class="form-control", placeholder="Re-Enter Password") }}#}
{##}
{#                                                    {% for error in form2.password2.errors %}#}
{#                                                    <span style="color: #ff0000;">[{{ error }}]</span>#}
{#                                                    {% endfor %}#}
{#													<i class="ti-user"></i>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
{#										#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<button type="submit" class="btn btn-md full-width pop-login bg-2">Create Account</button>#}
{#                                        {{ form2.submit(class="btn btn-md full-width pop-login bg-2") }}#}
{#									</div>#}
{#								#}
{#								</form>#}
{#							</div>#}
{#							<div class="modal-divider"><span>Or Signup via</span></div>#}
{#							<div class="social-login mb-3">#}
{#								<ul>#}
{#									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>#}
{#									<li><a href="#" class="btn connect-twitter"><i class="ti-twitter"></i>Twitter</a></li>#}
{#								</ul>#}
{#							</div>#}
{#							<div class="text-center">#}
{#								<p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="{{ url_for('login') }}" class="link">Go For LogIn</a></p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
			<!-- End Modal -->
			
			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<iframe class="embed-responsive-item" width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<!-- End Video Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/popper.min.js"></script>
		<script src="static/assets/js/bootstrap.min.js"></script>
		<script src="static/assets/js/ion.rangeSlider.min.js"></script>
		<script src="static/assets/js/select2.min.js"></script>
		<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="static/assets/js/slick.js"></script>
		<script src="static/assets/js/slider-bg.js"></script>
		<script src="static/assets/js/lightbox.js"></script>
		<script src="static/assets/js/imagesloaded.js"></script>
		<script src="static/assets/js/daterangepicker.js"></script>
		<script src="static/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>