<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Drizvato" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>Verio - Residence & Real Estate Template</title>
		 
        <!-- Custom CSS -->
        <link href="{{ url_for('static',filename='assets/css/styles.css') }}" rel="stylesheet">

		<!-- Custom Color Option -->
        <link href="{{ url_for('static',filename='assets/css/colors.css') }}" rel="stylesheet">
    </head>

 	<body class="yellow-skinbg-cover" style="background:#f4f4f4 url(static/assets/img/log-bg.jpg);">
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">	
			
			<!-- ============================ Register Start ================================== -->
			<section>
			
				<div class="container">
					
					<div class="row justify-content-center">
					
						<!-- Single Package -->
						<div class="col-lg-10 col-md-12">
							{% for message in get_flashed_messages(with_categories=True) %}
                                <div class="alert alert-{{ message[0] }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message[1] }}
                                </div>
                            {% endfor %}
							<div class="log_box">

								<div class="row">

									<div class="col-lg-6 col-md-6">
                                        <h4 class="modal-header-title text-left">Sign In</h4>

										<div class="login-form">
											<form action="" method="post" novalidate>
												{{ form.hidden_tag() }}

												<div class="row">

													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
                                                                {{ form.username.label }}<br>
                                                                {{ form.username (class="form-control" ,placeholder="Enter username or email") }}

                                                                {% for error in form.username.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}
															</div>
														</div>
													</div>

													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="input-with-icon">
                                                                {{ form.password.label }}<br>
                                                                {{ form.password(class="form-control", placeholder="Enter password") }}

			                                                    {% for error in form.password.errors %}
                                                                <span style="color: red;">[{{ error }}]</span>
                                                                {% endfor %}
															</div>
														</div>
													</div>

												</div>

												<div class="form-group">
                                                    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
												</div>
											
											</form>
										</div>
										
										<div class="text-center">
											<p class="mt-3">Don't have an account <a href="register" class="link">Register</a></p>
										</div>
                                    	<div class="text-center">
											<p class="mt-3">Forgot the password <a href="{{ url_for('reset_request') }}" class="link">Reset</a></p>
										</div>
                                        <div class="text-center">
											<p class="mt-3"><a href="index" class="link">Back To Home Page</a></p>
										</div>
										
									</div>
									<!-- /col-lg-6 -->
									
									<div class="col-lg-6 col-md-6">
										<img src="static/assets/img/log-img.png" class="img-fluid rounded" alt="img" />
									</div>
									<!-- /col-lg-6 -->
									
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
						
			</section>
			<!-- ============================ Register End ================================== -->
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/ion.rangeSlider.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/slick.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/slider-bg.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/lightbox.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/imagesloaded.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/daterangepicker.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/custom.js') }}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>
