{% if usertype == "1" %}
    {% extends "base_AfterO.html" %}
{% else %}
    {% extends "base_After.html" %}
{% endif %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <!-- Basic Information -->
    <div class="frm_submit_block">
        <h4>My Account {{ usertype }}</h4>
        <div class="frm_submit_wrap">
            <div class="form-row">

                <div class="form-group col-md-6">
                    {{ form.nickname.label }}<br>
                    {{ form.nickname (class="form-control" ,placeholder="Enter your nickname") }}
{#													    <label>Your Name</label>
                    <input type="text" class="form-control" value="Shaurya Preet">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.phone.label }}<br>
                    {{ form.phone (class="form-control" ,placeholder="Enter your phone number") }}
{#													    <label>Phone</label>
                    <input type="text" class="form-control" value="123 456 5847">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.address.label }}<br>
                    {{ form.address (class="form-control" ,placeholder="Enter your address") }}
{#													    <label>Address</label>
                    <input type="text" class="form-control" value="522, Arizona, Canada">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.city.label }}<br>
                    {{ form.city (class="form-control" ,placeholder="Enter your city") }}
{#													    <label>City</label>
                    <input type="text" class="form-control" value="Montquebe">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.email.label }}<br>
                    {{ form.email (class="form-control" ,placeholder="Enter your email") }}
{#													    <label>State</label>
                    <input type="text" class="form-control" value="Canada">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.zip.label }}<br>
                    {{ form.zip (class="form-control" ,placeholder="Enter your zip") }}
{#													    <label>Zip</label>
                    <input type="text" class="form-control" value="160052">#}
                </div>

                <div class="form-group col-md-12">
                    {{ form.about.label }}<br>
                    {{ form.about (class="form-control" ,placeholder="Write something here about you") }}
{#													    <label>About</label>
                    <textarea class="form-control">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>#}
                </div>

            </div>
        </div>
    </div>

    <div class="frm_submit_block">
        <h4>Social Accounts</h4>
        <div class="frm_submit_wrap">
            <div class="form-row">

                <div class="form-group col-md-6">
                    {{ form.facebook.label }}<br>
                    {{ form.facebook (class="form-control" ,placeholder="Your Facebook Account") }}
{#													    <label>Facebook</label>
                    <input type="text" class="form-control" value="https://facebook.com/">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.twitter.label }}<br>
                    {{ form.twitter (class="form-control" ,placeholder="Your Twitter Account") }}
{#													    <label>Twitter</label>
                    <input type="email" class="form-control" value="https://twitter.com/">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.google.label }}<br>
                    {{ form.google (class="form-control" ,placeholder="Your Google Account") }}
{#													    <label>Google Plus</label>
                    <input type="text" class="form-control" value="https://googleplus.com">#}
                </div>

                <div class="form-group col-md-6">
                    {{ form.linkedin.label }}<br>
                    {{ form.linkedin (class="form-control" ,placeholder="Your LinkedIn Account") }}
{#													    <label>LinkedIn</label>
                    <input type="text" class="form-control" value="https://linkedin.com/">#}
                </div>

                <div class="form-group col-lg-12 col-md-12">
                    {{ form.submit(class="btn btn-md full-width pop-login bg-2") }}
{#                                                        <button class="btn btn-theme bg-2" type="submit">Save Changes</button>#}
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock %}